{% extends 'base.html' %}
{% load static %}

{% block title %}
Памятник «Тысячелетие России»
{% endblock %}

{% block content %}
<h1 class="text-center">Памятник «Тысячелетие России»</h1>
    <p>
        Памятник «Тысячелетие России» установлен на площади Новгородского кремля, напротив величественного Софийского собора,
            перед зданием, где в наши дни размещается музей истории Великого Новгорода. Внешне монумент похож на шапку Мономаха и большой колокол.
        Куполообразный постамент завершает большой шар-держава, ставший символом правления двух царских династий – Рюриковичей и Романовых.
        Установленные здесь скульптурные изображения посвящены собирательным образам и конкретным историческим
            фигурам – русским царям, знаменитым военачальникам, священнослужителям, писателям и художникам.
    </p>
    <h4>Детали</h4>
    <p>Монумент имеет колоколообразные очертания и внушительные размеры. Он построен на фундаменте, углубленном в землю на 10 метров.
        Сам памятник подпирает гранитное основание высотой 6 м, а общая высота монумента достигает 15,7 м.</p>


    <div class="row mb-3">
        <div class="col-12 col-md-4 text-center">
            <img class="img-fluid" src="{% static '/img/monument/m1.jpg' %}" style="max-height:300px">
        </div>
        <div class="col-12 col-md-8">
        <p>Всего здесь установлено 128 фигур. Скульптурные группы окружают памятник «Тысячелетие России» со всех сторон и делятся на три части.
        На самом верху видны символы страны и православия.
        Это фигуры коленопреклоненной женщины, одетой в русский народный костюм, и ангела, придерживающего высокий ажурный крест высотой 3 м.
        </p>

        <p>Верхние скульптуры стоят на большой шарообразной державе диаметром 4 метра, которую покрывает рельефный орнамент из крестов.
            Он символизирует единение власти самодержавия и православной церкви.
            Здесь же помещена надпись, свидетельствующая, что памятник «Тысячелетие России» открыли во времена царствования императора Александра II в 1862 году.</p>
        </div>
    </div>

     <div class="row">
         <div class="col-12 col-md-4">
             <img class="img-fluid" src="{% static '/img/monument/m2.jpg' %}" alt="Фото">
         </div>
         <div class="col-12 col-md-8">
            <p>
                Среднюю часть занимает 17 фигур, высотой 3,3 м. Композиционно они разбиты на шесть скульптурных групп, ориентированных по разных частям света. Это символические этапы российской истории – призвание варягов, крещение Руси, Куликовская битва, основание самодержавного царства, рождение династии Романовых и образование Российской империи. Державу окружают скульптуры исторических персонажей, сыгравших главные роли на различных этапах русской истории. Это фигуры первого князя Рюрика, киевского князя Владимира Святославовича, Дмитрия Донского, Ивана III, Михаила Федоровича Романова, князя Пожарского, Козьмы Минина и Петра I.
            </p>

         </div>
     </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <img class="img-fluid" src="{% static '/img/monument/m3.jpg' %}" alt="Фото">
        </div>
        <div class="col-12 col-md-8">
            <p>
                Нижнюю часть памятника «Тысячелетие России» украшает сложный горельефный фриз из 109 скульптур. Здесь можно увидеть 31 фигуру российских просветителей – князей, христианских проповедников, основателей монастырей, монахов историков и писателей. На восточной стороне расположены 26 фигур «государственных людей» – великих князей, царей, императоров, патриархов, дипломатов и общественных деятелей. На северо-востоке стоит 36 фигур «военных людей и героев». Последняя скульптурная группа нижнего уровня – «писатели и художники», где выставлено 16 фигур знаменитых российских ученых, поэтов, драматургов, архитекторов, музыкантов и художников.
            </p>
        </div>
    </div>

    <div class="text-center p-3"><a class="btn btn-primary" href="/">Назад к содержанию</a></div>
{% endblock %}