{% extends 'base.html' %}
{% load static %}

{% block title %}
Софийский собор
{% endblock %}

{% block content %}
    <h1 class="text-center">Софийский собор</h1>
    <p>
        Новгородский Софийский храм – старейший из сохранившихся в нашей стране памятников древнерусской архитектуры.
        Есть свидетельства того, что до постройки каменного собора в городе была деревянная Софийская церковь.
        Археологических доказательств этого факта нет.
    </p>
    <h4>Первый храм и его оформление</h4>
    <p>Каменный собор, который стал символом Великого Новгорода и его вольности, начали строить в 1045 г. и закончили в 1050 или в 1052.
        На строительстве работали зодчие и рабочие из Киева и Византии.
        Сначала все поверхности стен побелили, за исключением барабанов и криволинейных апсид.
        Их оставили покрытыми цемянкой (толченой кирпичной крошкой с известью).</p>

    <p>Таким образом зодчие старались внешне воспроизвести богато украшенные храмы Константинополя,
            стены которых были покрыты мрамором, а криволинейные элементы – фресками и мозаикой.
        Выросший всего за пять лет храм был огромен по представлениям жителей Древнего Новгорода.
        40-метровое строение, возвысившееся над деревянными избами и дубовыми крепостными стенами,
            поражало воображение многих приезжающих в Новгород купцов.
        </p>

        <p>За все десять столетий существования церкви, ее никогда не перестраивали.
        Пожары и войны наносили ущерб, который требовал лишь ремонта.
        После различных социальных и природных катаклизмов купола Софийского собора покрывали свинцом, а стены – штукатуркой.
        В XV века, при архиепископе Иване Калике центральный купол начали золотить.</p>

    <h4>Архитектурные особенности собора</h4>
    <div class="row">
        <div class="col-12 col-md-4">
            <img class="img-fluid" src="{% static '/img/sofia/s1.jpg' %}" alt="Фото">
        </div>
        <div class="col-12 col-md-8">
            <p>Святая София в Новгороде являет собой пятинефную церковь с тремя апсидами.
                Главы собора имеют характерную форму, напоминающую древнерусский военный шлем.
                Со всех сторон,кроме восточной стены, к церкви пристроены просторные двухэтажные галереи.
                Сама церковь пятиглавая, но имеется и шестая глава, установленная в западной галерее над лестничной башней.
                Церковь сложена из известняка, и толщина стен в среднем составляет 1, 2 м.
                Камень отесан лишь с одной стороны – с наружной части стен.
                В качестве связующего использовался состав на основе извести с цемянкой (толченым кирпичом).
                Арочные своды и прочие криволинейные элементы выполнены из кирпича.
                По архитектурному устройству св. София очень напоминает киевский Софийский храм, по подобию которого он был создан.
                Но есть и отличия: вместо тройных аркад устроены двухпролетные, а в нижних ярусах они заменены арками.
                Также, компартименты между столпами новгородской Софии более узкие.
            </p>
        </div>
    </div>
    <div class="text-center p-3"><a class="btn btn-primary" href="/">Назад к содержанию</a></div>
{% endblock %}